
<div id="text_div">
    <p id="header">Ahoj, já jsem Bruno</p>
    <div class="longText">
    <p>Jsem 18letý student střední IT školy v Praze, kde se věnuji oboru vývoj aplikací a her.</p>
    <p> IT a technologie jsou mou vášní, a tak se každým dnem snažím zdokonalovat své programovací dovednosti.
        Mým hlavním zaměřením je vývoj webových aplikací, který mě naplňuje kreativním způsobem.
       Doufám, že se mi podaří najít skvělou pracovní příležitost, kde budu moci uplatnit své schopnosti a zároveň se dále rozvíjet.</p>
   
    </div>
   
</div>
<div id="image_div">
   <img id="img-right" src="./../../assets/pictures/bebr_left.png">
</div>

